body{
	background-color: #e6e6ff;
 background-image: url("images/.jpeg");
}
@media screen and (max-width: 200px) {
  .navClassItem {
    float: none;
    width: 10%;
  }
.tabs{
    float: none;
    width: 50%;
  }
.article33{
    float: none;
    width: 100%;
  }
.form5 {
    float: none;
    width: 10%;
  }
}
.form3 {
    float: none;
    width: 100%;
  }
}
.form2 {
    float: none;
    width: 100%;
  }
}

#img2{
	width:100px;
	hight:100px;}
#img1{
	width:200px;
	hight:200px;}
.navClassItem{
	font-size: 25px;
	color: gray;
	text-decoration: none;
	font-weight: bold;
	margin-right: 40px;
}
#nav1{
	top:0px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	height: 40px;	
}
#section1{
	padding-left: 700px;
}

#artical1{
	
	position: absolute;
	top: 630px;
	right: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#artical2{
	
	position: absolute;
	top: 300px;
	right: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#artical3{
	
	position: absolute;
	top: 300px;
	right: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#artical33{
	
	position: absolute;
	top: 200px;
	right: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
        text-decoration:bold;
}
#articalli{
	
	position: absolute;
	top: 550px;
	left: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#sectionP{
	
	position: absolute;
	top: 200px;
	right: 700px;
	padding-top: 10px;
	padding-bottom: 10px;
        text-decoration:bold;
}


#form2{
	position: absolute;
	top: 200px;
	left: 350px;
}
#form3{
	position: absolute;
	top: 200px;
	background-color: #ccccff;
	left: 600px;
	width: 50%
	
}
#form4{
	position: absolute;
	top: 240px;
	left: 1000px;
	height: 20px;
	width: 100px;
	padding: 7px;
	background-color:#f2d9e6;
}
#form5{
	position: absolute;
	top: 500px;
	left: 100px;
	right:600px;
	background-color:#e6f9ff;
	width:30%;
	padding: 7px;
}
#Sec111{
	top:200px;
	left:200px;
}

#f1{
	position: absolute;
	top: 240px;
	left: 1000px;
	height: 20px;
	width: 100px;
	padding: 7px;
}

#btnQueryString1{
	position: absolute;
	top: 450px;
	left: 900px;
	height: 50px;
	width: 200px;
}

/*Attribute selectors */
a:visited {
  color:black;
}
a:hover {
  color: hotpink;
}

[class|=colur1] {
	background-color: #595959;
  }
h1{
	text-align: center;
	
}

#section1_f{
	
	position: absolute;
	top: 650px;
	left: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #e6e6e6;
        width:20%;
}
#section2_f{
	
	position: absolute;
	top: 650px;
	left: 200px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #e6e6e6;
        width:20%;
}
#section3_f{
	
	position: absolute;
	top: 650px;
	left: 400px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #e6e6e6;
        width:20%;
}
#section4_f{
	
	position: absolute;
	top: 650px;
	left: 600px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #e6e6e6;
        width:20%;
}
#section5_f{
	
	position: absolute;
	top: 650px;
	left: 800px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #e6e6e6;
        width:20%;
}
#section6_f{
	
	position: absolute;
	top: 650px;
	left: 1000px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #e6e6e6;
        width:20%;
}
#section7_f{
	
	position: absolute;
	top: 650px;
	left: 1300px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #e6e6e6;
        width:18%;
