body{
 background-image: url("image/.jpeg");  <!--background image-->
}

	 <!--nevigation bar-->
.navClassItem{       
	font-size: 25px;
	color: gray;
	text-decoration: none;
	font-weight: bold;
	margin-right: 40px;
}
#nav1{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	height: 40px;	
}
#section1{
	padding-left: 700px;
}

	 <!--footer-->
footer {
    position: absolute;
    top: 630px;
    width:100%;
    padding: 10px;
    color: white;
    background-color: black;
  }

	 <!--articles-->
#artical1{
	position: absolute;
	top: 630px;
	right: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#artical2{
	
	position: absolute;
	top: 300px;
	right: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#artical3{
	
	position: absolute;
	top: 300px;
	right: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#artical33{
	
	position: absolute;
	top: 200px;
	right: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
        text-decoration:bold;
}
#articalli{
	
	position: absolute;
	top: 550px;
	left: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#sectionP{
	
	position: absolute;
	top: 200px;
	right: 700px;
	padding-top: 10px;
	padding-bottom: 10px;
        text-decoration:bold;
}
#form2{
	position: absolute;
	top: 200px;
	left: 700px;
}
#form3{
	position: absolute;
	top: 200px;
	left: 800px;
	height: 20px;
	width: 100px;
	padding: 7px;
}
#form4{
	position: absolute;
	top: 240px;
	left: 1000px;
	height: 20px;
	width: 100px;
	padding: 7px;
}
#f1{
	position: absolute;
	top: 240px;
	left: 1000px;
	height: 20px;
	width: 100px;
	padding: 7px;
}

#btnQueryString1{
	position: absolute;
	top: 450px;
	left: 900px;
	height: 50px;
	width: 200px;
}

/*Attribute selectors */
a:visited {
  color:blue;
}
a:hover {
  color: hotpink;
}

[class|=colur1] {
	background-color: black;
  }